.catalog {
  padding: 85px 118px 118px;

  @media (max-width: $vp-1280) {
    padding: 110px 73px 118px;
  }

  @media (max-width: $vp-1147) {
    padding: 110px 45px 118px;
  }

  @media (max-width: $vp-1023) {
    padding: 90px 60px 100px;
  }

  @media (max-width: $vp-767) {
    padding: 56px 25px 65px;
  }
}

.catalog__container {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding: 85px 118px 118px;
}

.catalog__container h2 {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;

  @media (max-width: $vp-1023) {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 48px;
  }

  @media (max-width: $vp-767) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: $vp-1280) {
    gap: 20px;
  }

  @media (max-width: $vp-1023) {
    grid-template-columns: repeat(2,1fr);
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
  }
}

.catalog__more-info {
  display: none;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 386px;
  padding: 30px 30px 10px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &:hover .catalog__more-info {
    display: flex;
    flex-direction: column;
    background-color: $color-font-dark;
    box-shadow: 0px 4px 35px rgba(1, 28, 64, 0.15);
    color: $color-font;
    position: absolute;
    top: 0;
    left: 0;
    padding: 28px 25px;
    width: 100%;
    max-height: 386px;
  }

    &--card-1 {
    background-image: url("../img/cards/card-desktop-1.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/cards/card-desktop-1@2x.webp");
      }
    }

    &--card-2 {
      background-image: url("../img/cards/card-desktop-7.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/cards/card-desktop-7@2x.webp");
      }
    }

    &--card-3 {
      background-image: url("../img/cards/card-desktop-2.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/cards/card-desktop-2@2x.webp");
      }
    }

    &--card-4 {
      background-image: url("../img/cards/card-desktop-3.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/cards/card-desktop-3@2x.webp");
      }
    }

    &--card-5 {
      background-image: url("../img/cards/card-desktop-4.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/cards/card-desktop-4@2x.webp");
      }
    }

    &--card-6 {
      background-image: url("../img/cards/card-desktop-6.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/cards/card-desktop-6@2x.webp");
      }
    }

    &--card-7 {
      background-image: url("../img/cards/card-desktop-5.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/cards/card-desktop-5@2x.webp");
      }
    }

    &--card-8 {
      background-image: url("../img/cards/card-desktop-7.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/cards/card-desktop-7@2x.webp");
      }
    }

    @media (max-width: $vp-1280) {
      max-width: 260px;
    }

  @media (max-width: $vp-1023) {
    width: 309px;
    padding: 35px 35px 27px;

    &:hover .catalog__more-info {
      padding: 29px 35px 35px;
      width: 309px;
      min-height: 386px;
    }

    &--card-1 {
      background-image: url("../img/cards/tablet-card-1.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cards/tablet-card-1@2x.webp");
        }
      }

      &--card-2 {
        background-image: url("../img/cards/tablet-card-7.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cards/tablet-card-7@2x.webp");
        }
      }

      &--card-3 {
        background-image: url("../img/cards/tablet-card-2.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cards/tablet-card-2@2x.webp");
        }
      }

      &--card-4 {
        background-image: url("../img/cards/tablet-card-3.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cards/tablet-card-3@2x.webp");
        }
      }

      &--card-5 {
        background-image: url("../img/cards/tablet-card-4.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cards/tablet-card-4@2x.webp");
        }
      }

      &--card-6 {
        background-image: url("../img/cards/tablet-card-5.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cards/tablet-card-5@2x.webp");
        }
      }

      &--card-7 {
        background-image: url("../img/cards/tablet-card-6.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cards/tablet-card-6@2x.webp");
        }
      }

      &--card-8 {
        background-image: url("../img/cards/tablet-card-7.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cards/tablet-card-7@2x.webp");
        }
      }
  }

  @media (max-width: $vp-767) {
    width: 270px;
    padding: 25px 25px 15px;

    &:hover .catalog__more-info {
      padding: 30px 25px 35px;
      width: 270px;
      min-height: 386px;
    }

    &--card-1 {
      background-image: url("../img/cards/card-desktop-1.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cards/card-desktop-1@2x.webp");
        }
      }

      &--card-2 {
        background-image: url("../img/cards/card-desktop-7.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cards/card-desktop-7@2x.webp");
        }
      }

      &--card-3 {
        background-image: url("../img/cards/card-desktop-2.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cards/card-desktop-2@2x.webp");
        }
      }

      &--card-4 {
        background-image: url("../img/cards/card-desktop-3.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cards/card-desktop-3@2x.webp");
        }
      }

      &--card-5 {
        background-image: url("../img/cards/card-desktop-4.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cards/card-desktop-4@2x.webp");
        }
      }

      &--card-6 {
        background-image: url("../img/cards/card-desktop-6.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cards/card-desktop-6@2x.webp");
        }
      }

      &--card-7 {
        background-image: url("../img/cards/card-desktop-5.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cards/card-desktop-5@2x.webp");
        }
      }

      &--card-8 {
        background-image: url("../img/cards/card-desktop-7.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cards/card-desktop-7@2x.webp");
        }
      }
  }
}

.catalog__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: scroll;
}

.catalog__item h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-font;
  margin: 0;
  margin-bottom: 13px;

  @media (max-width: $vp-1023) {
    margin-bottom: 0;

  }

  @media (max-width: $vp-767) {

  }
}

.catalog__subitem h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $color-font;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 2px;

  @media (max-width: $vp-1023) {
    margin-top: 11px;

  }

  @media (max-width: $vp-767) {

  }
}

.catalog__subitem p {
  font-size: 14px;
  line-height: 20px;
  color: $color-font;
  margin: 0;
  margin-bottom: 8px;

  @media (max-width: $vp-1023) {
    margin-bottom: 0;
  }

  @media (max-width: $vp-767) {

  }
}

.catalog__more-info a {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 30px;
  width: 100%;
  color: $color-font-dark;
  background-color: $color-font;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;

  @media (max-width: $vp-1023) {
    margin-top: 22px;
    min-height: 40px;
  }

  @media (max-width: $vp-767) {

  }
}


