.form {
  padding: 51px 163px 50px;
  background-image: url("../../img/form-background.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/form-background@2x.webp");
  }

  @media (max-width: $vp-1023) {
    padding: 0;
  }
}

.form__container {
  display: flex;
  gap: 144px;
  justify-content: center;
  align-items: center;
  min-height: 455px;

  @media (max-width: $vp-1023) {
    padding: 88px 65px 100px;
    flex-direction: column;
    gap: 52px
  }

  @media (max-width: $vp-767) {
    padding: 60px 15px 70px;
    gap: 0;
  }
}

.form__container h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin: 0;
  margin-top: -10px;
  margin-bottom: 8px;

  @media (max-width: $vp-1023) {
    font-size: 34px;
    line-height: 51px;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;

  }

  @media (max-width: $vp-767) {
    font-size: 24px;
    line-height: 31px;
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.form__container p {
  max-width: 370px;
  font-size: 18px;
  line-height: 27px;
  margin: 0;

  @media (max-width: $vp-1023) {
    text-align: center;
    margin: 0 auto;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 22px;
    max-width: 290px;
    margin-bottom: 33px;
  }
}

.form__wrapper {
  width: 403px;
  text-align: center;
  background-color: $color-font-dark;
  box-shadow: 0px 4px 45px rgba(1, 28, 64, 0.15);
  box-sizing: border-box;
  padding: 45px 50px 50px;
  min-height: 455px;

  @media (max-width: $vp-767) {
    width: 100%;
    padding: 35px 30px;
  }
}

.form__wrapper p {
  font-weight: 500;
  color: $color-font;
  text-align: left;
  margin-bottom: 26px;

  @media (max-width: $vp-1023) {
    text-align: left;
    margin-bottom: 27px;
  }

  @media (max-width: $vp-767) {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    max-width: 214px;
    margin-bottom: 28px;
  }
}

.form__text br {
  display: none;

  @media (max-width: $vp-767) {
    display: inline;
  }
}




