.form {
  padding: 50px 163px;
  background-image: url("../../img/form-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  // min-height: 555px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/form-background@2x.webp");
  }
}

.form__container {
  display: flex;
  gap: 144px;
  justify-content: center;
  align-items: center;
  min-height: 555px;
}

.form__container h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 30px;
}

.form__container p {
  max-width: 370px;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

.form__wrapper {
  width: 403px;
  text-align: center;
  background-color: $color-font-dark;
  box-shadow: 0px 4px 45px rgba(1, 28, 64, 0.15);
  box-sizing: border-box;
  padding: 50px;
}

.form__wrapper p {
  color: $color-font;
  text-align: left;
  margin-bottom: 35px;
}




