.main-footer {
  background-color: $color-font-dark;
  padding: 50px 103px;
}

.main-footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-footer__nav {
  padding-left: 40px;
  max-width: 650px;
}

.main-footer__social {
  margin-left: auto;
}
