.main-footer {
  background-color: $color-font-dark;
  padding: 50px 93px 50px 103px;

  @media (max-width: $vp-1200) {
    padding: 50px 53px 50px 63px;
  }

  @media (max-width: $vp-1023) {
    padding: 43px 39px 50px 45px;
  }

  @media (max-width: $vp-767) {
    padding: 40px 15px 45px;
  }
}

.main-footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $vp-767) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.main-footer__nav {
  padding-left: 40px;
  max-width: 650px;

  @media (max-width: $vp-1023) {
    padding-left: 25px;
  }

  @media (max-width: $vp-767) {
    padding-left: 0;
  }
}

.main-footer__social {
  margin-left: auto;

  @media (max-width: $vp-767) {
    margin-left: -10px;
  }
}

.main-footer__logo svg {
  fill: $color-font;

  @media (max-width: $vp-1023) {
    width: 38px;
    height: 20px;
    margin-top: 6px;
  }

  @media (max-width: $vp-767) {
    width: 42px;
    height: 22px;
    margin-bottom: 15px;
    margin-top: 0;
  }
}
