.navigation {
  max-width: 596px;
}

.navigation__button {
  display: none;

  @media (max-width: $vp-767) {
    display: block;
    width: 24px;
    height: 20px;
    padding: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    z-index: 12;
    position: absolute;
    top: 20px;
    right: 12px;

    &::before {
      content: "";
      background-color: $color-font;
      width: 24px;
      height: 2px;
      position: absolute;
      top: 8px;
      left: 3px;
      box-shadow: 0 6px 0 0 $color-font, 0 12px 0 0 $color-font;
    }

    &:hover::before {
      background-color: $color-hover;
      box-shadow: 0 6px 0 0 $color-hover, 0 12px 0 0 $color-hover;
    }
  }
}

.navigation__button.is-active {
  width: 16px;
  height: 16px;
  padding: 15px;
  top: 20px;
  right: 8px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 7px;
    width: 16px;
    height: 2px;
    background-color: $color-font-dark;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    background-color: $color-hover;
  }

  &:hover::before {
    background-color: $color-font-dark;
  }
}

.navigation__button.nojs {
  display: none;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: -5px;

  @media (max-width: $vp-767) {
    display: none;
    margin-top: 0;
  }
}

.navigation ul.is-active {
  @media (max-width: $vp-767) {
    display: block;
    background-color: $color-font;
    padding: 70px 0 20px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 89%;
  }
}

.navigation li {
  margin-right: 34px;
  margin-top: 6px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  @media (max-width: $vp-1023) {
    margin-right: 24px;
  }

  @media (max-width: $vp-767) {
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.navigation a {
  color: $color-font;
  font-weight: 500;
  line-height: 20px;

  &:hover,
  &:focus {
    color: $color-hover;
  }

  @media (max-width: $vp-1023) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $vp-767) {
    position: relative;
    display: block;
    padding: 15px 40px 13px 25px;
    font-size: 18px;
    line-height: 22px;
    color: $color-font-dark;

    &:hover,
    &:focus {
      color: $color-hover;
    }
  }
}
