.navigation-footer__list {
  margin-top: -5px;

  @media (max-width: $vp-1023) {
    max-width: 450px;
    margin-top: 0;
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    max-width: 290px;
  }
}

.navigation-footer__item {
  @media (max-width: $vp-767) {
    margin-bottom: 8px;
  }
}
