.nojs .main-header__container {
  @media (max-width: $vp-767) {
    display: block;
  }
}

// .nojs .main-header__logo {
//   @media (max-width: $vp-767) {
//     display: none;
//   }
// }

.nojs.navigation ul {
  @media (max-width: $vp-767) {
    position: static;
    display: block;
    background-color: $color-font;
    padding: 75px 30px 20px 15px;
    margin-left: auto;
    width: 98%;
  }
}
