.site-list a {
  @media (max-width: $vp-1023) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $vp-767) {
    position: relative;
    display: block;
    padding: 15px 40px 13px 25px;
    font-size: 18px;
    line-height: 22px;
    color: $color-font-dark;

    &:hover,
    &:focus {
      color: $color-hover;
    }
  }
}

.site-list {
  margin-top: -5px;

  @media (max-width: $vp-767) {
    display: none;
  }
}

.site-list.is-active {
  @media (max-width: $vp-767) {
    display: block;
    background-color: $color-font;
    padding: 75px 0 20px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 89%;
  }
}

.site-list.nojs {
  position: static;
  display: block;
  // display: flex;
  // flex-wrap: wrap;
  // max-width: 290px;
  // justify-content: flex-start;
  // align-items: flex-start;
  // margin-top: 20px;


//Реализация как по макету
  background-color: $color-font;
  padding: 75px 30px 20px 15px;
  margin-left: auto;
  width: 98%;
  position: relative;
  // min-height: 568px;

  // &::before {
  //   content: "";
  //   background-image: url("../img/svg/logo-dark.svg");
  //   background-repeat: no-repeat;
  //   width: 42px;
  //   height: 22px;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }
}

.site-list__item {
  @media (max-width: $vp-767) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
